<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if & v-else & v-show 的实例</title>
    <script type="text/javascript" src="../assets/js/vue.js">

    </script>
</head>
<body>
    <h1>v-if & v-else & v-show 的实例</h1>
    <hr>
    <div id="app">
        <div v-if="isLogin">你好，xingBoss！</div>
        <div v-else>
            <div v-if="isPass">你好，直接登录！</div>
            <div v-else>请登录！</div>
        </div>

        <div v-show="isLogin">你好，show！</div>
    </div>
    <script type="text/javascript">
        var aaa = new Vue({
            el:'#app',
            data:{
                isLogin:false,
                isPass:true
            }
        })
    </script>
</body>
</html>